//-tham số nhận là object pagination , chứ các tt currentPage,totalPage
mixin pagination(pagination)
  nav
    ul(class="pagination")
        
        li(class=`page-item`)
                  button(class="page-link" button-pagination=1) Restart
        if(pagination.currentPage>1)
          li(class=`page-item`)
                  button(class="page-link" button-pagination=pagination.currentPage-1) previous

        - for(var i=1;i<=pagination.totalPage;i++)      
              li(class=`page-item ${pagination.currentPage==i?'active':''}`)
                button(class="page-link" button-pagination=i) #{i}

        if(pagination.currentPage<pagination.totalPage)
          li(class=`page-item`)
              button(class="page-link" button-pagination=pagination.currentPage+1) next 
        li(class=`page-item`)
                  button(class="page-link" button-pagination=pagination.totalPage) Last
        //bài toán hiện ra 3 trang gần nhất so với trang hiện tại
        //- - for(var i=pagination.currentPage-1;i<=pagination.currentPage+1;i++)      
        //-       li(class=`page-item ${pagination.currentPage==i?'active':''}`)
        //-         button(class="page-link" button-pagination=i) #{i}